<li id="comment-<%= comment._id%>">
  <p>
    <small>
      <% if(locals.user && comment.user.id == locals.user.id){ %>
      <a class="delete-comment-btn" href="/comments/destroy/<%= comment.id%>"
        >X</a
      >
      <% } %>
    </small>
    <%= comment.content %>
    <br />
    <small>@<%= comment.user.name %></small>
  </p>
</li>
